{% extends 'base.html.twig' %}

{% block title %}MailApp | Send Message{% endblock %}

{% block body %}

<main>
    <form action="" method="POST">
        <label for="sender">From: </label>
        <input type="text" name="sender" id="sender" value="{{app.user.email}}"/>
        <br/>
        <label for="receiver">To: </label>
        <input type="text" name="receiver" id="receiver"/>
        <br/>
        {# <label for="timestamp">At: </label> #}
        {# <input typ="text" id="timestamp" name="messageTimestamp" hidden /> #}
        {# <br/> #}
        <label for="head">Head: </label>
        <input type="text" name="messageHead" id="head" />
        <br/>
        <label for="body">Body: </label><br/>
        <textarea name="messageBody" id="body" rows="4" cols="50"></textarea>
        <br/>
        <button type="submit">Send Email</button>
        <button type="reset">Delete</button>
    </form>
</main>
{% endblock %}
